@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightpink;
}

header{
    background-color: rgb(230, 119, 156);
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgb(218, 62, 114);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

menu{
    display: block;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(216, 91, 132);
    color: white;
    border-top: 2px solid palevioletred;
}

menu > ul > li > a:hover{
    background-color: palevioletred;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}